<% include partials/header %>

<h1><%= campground.name %></h1>

<img src="<%= campground.image %>">

<p><%= campground.description %></p>

<h4>Comments</h4>
<ul>
    <% campground.comments.forEach(function(comment) { %>
        <li>
            <strong><%- comment.author %></strong> 
            - 
            <%- comment.text %>
        </li>
    <% }); %>
</ul>

<% include partials/footer %>